---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="px-6 lg:px-12 min-h-screen flex flex-col justify-evenly">
			<h1 class="text-7xl font-black">COPEC</h1>
			<p class="text-2xl font-medium">
				Abriendo dialogos, disenando soluciones y creando consensos
			</p>
			<button class="bg-[#0097D5] rounded-sm text-center text-md font-medium text-white py-5 w-full">Conocenos →</button>
			<img src="https://copeccordoba.com/wp-content/uploads/2024/02/BGMOB2.svg" alt="">
		</main>
		<Footer />
	</body>
</html>
